.loading {
  position: fixed;
  background: #1f418f;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hypnotic {
  width: 100px;
  height: 100px;
  display: grid;
  background: linear-gradient(
        90deg,
        #f2f2f7 2.2px,
        #0000 0 calc(100% - 2.2px),
        #e3e3e9 0
      )
      center/100% 15.7px,
    linear-gradient(0deg, #474bff 2.2px, #0000 0 calc(100% - 2.2px), #474bff 0)
      center/15.7px 100%,
    linear-gradient(#474bff 0 0) center/100% 2.2px,
    linear-gradient(#474bff 0 0) center/2.2px 100%;
  background-repeat: no-repeat;
  animation: hypnotic-8xnm9d 4s infinite linear;
}

.hypnotic::before,
.hypnotic::after {
  content: "";
  grid-area: 1/1;
  background: inherit;
  transform-origin: inherit;
  animation: inherit;
}

.hypnotic::after {
  animation-duration: 2s;
}

@keyframes hypnotic-8xnm9d {
  100% {
    transform: rotate(1turn);
  }
}
