@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: repeating-conic-gradient(from 45deg, rgba(49, 49, 54, 0.15) 0% 25%, #46636c 0% 50%);
    background-size: 32px 32px;
    background-color: #46636c;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #4e54c8;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 5s linear infinite;
}




.background li:nth-child(0) {
    left: 73%;
    width: 102px;
    height: 102px;
    bottom: -102px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 88%;
    width: 108px;
    height: 108px;
    bottom: -108px;
    animation-delay: 1s;
}
.background li:nth-child(2) {
    left: 72%;
    width: 100px;
    height: 100px;
    bottom: -100px;
    animation-delay: 4s;
}
.background li:nth-child(3) {
    left: 53%;
    width: 160px;
    height: 160px;
    bottom: -160px;
    animation-delay: 9s;
}
.background li:nth-child(4) {
    left: 39%;
    width: 166px;
    height: 166px;
    bottom: -166px;
    animation-delay: 19s;
}
.background li:nth-child(5) {
    left: 31%;
    width: 126px;
    height: 126px;
    bottom: -126px;
    animation-delay: 23s;
}
.background li:nth-child(6) {
    left: 39%;
    width: 202px;
    height: 202px;
    bottom: -202px;
    animation-delay: 14s;
}
.background li:nth-child(7) {
    left: 17%;
    width: 227px;
    height: 227px;
    bottom: -227px;
    animation-delay: 18s;
}
.background li:nth-child(8) {
    left: 3%;
    width: 200px;
    height: 200px;
    bottom: -200px;
    animation-delay: 4s;
}
.background li:nth-child(9) {
    left: 34%;
    width: 207px;
    height: 207px;
    bottom: -207px;
    animation-delay: 36s;
}

h1, h2, h3, h4, p, ul{
    margin-top: 0;
    margin-bottom: 0;
}
ul{
    padding-left: 0;
    list-style: none;
}
input{
    outline: none;
    font-family: inherit;
}
button{
    border: none;
    font-family: inherit;
}